header {
  background: linear-gradient(to bottom, lightgray -0.15%, rgba(211, 211, 211, 0.1) 100%);
  width: 100%;
  border-radius: 25px;
}

body {
  background-image: url("image/cover1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  color: #333;
  text-align: center;
  font-size: 25px;
  font-family: Times New Roman;
}

.indo {
  margin-bottom: 20px;
  font-family: Times New Roman;
  font-size: 20px;
  line-height: 1;
  padding: 30px 45px;
  margin-top: 0px;
  text-align: center;
  color: white;
}

.good {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: Times New Roman;
  padding: 10px 18px;
  margin-bottom: 30px;
}

.goodie {
  color: lightgray;
  font-size: 20px;
  text-align: center;
  padding: 20px 18px;
  margin-bottom: 30px;
}

button {
  background-color: lightgray;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 18px;
  text-align: center;
  margin: 10px auto;
  display: block;
  color: #333;
  margin-bottom: 150px;
}

.foot {
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, lightgray -0.15%, rgba(211, 211, 211, 0.1) 100%);
  font-size: 1em;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 1.5px;
  border-radius: 12px;
}

.lire {
  display: block;
  margin-top: 0;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.art {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: Times New Roman;
  padding: 10px 18px;
  margin-bottom: 30px;
}

small {
  color: lightgray;
  display: block;
  text-align: center;
}

.apercu {
  background-color: lightgray;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  color: #333;
}

.goodiet {
  color: black;
  text-align: center;
  font-size: 20px;
}

.lirex {
  display: block;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  text-align: center;
}

.lirexe {
  display: block;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.7);;
  text-decoration: underline;
  text-align: center;
}

.goodietu {
  color: lightgray;
  text-align: justify;
  font-size: 18px;
  padding: 15px;
  margin: 0 auto;
  max-width: 300px;
  line-height: 1.6;
}

.lettrine {
  float: left;
  font-size: 3.5em;       /* la taille de la première lettre */
  line-height: 1;       /* ajustement vertical */
  margin-right: 12px;    /* espace entre la lettrine et le texte */
  color: lightgray;       /* couleur de la lettrine */
  font-weight: bold;
  font-family: Times New Roman;
}

.social-icons {
  display: flex;            /* active le mode flexbox */
  justify-content: center;  /* centre horizontalement tous les éléments */
  gap: 20px;                /* espace entre les icônes */
  margin-top: 8px;         /* espace par rapport aux autres éléments */
}

.social-icons i {
  font-size: 30px;
  color: lightgray;
  transition: transform 0.3s, color 0.3s;
}

.social-icons i:hover {
  color: lightgray;
  transform: scale(1.2);  /* petit effet au survol */
}

i.fab {
  color: lightgray;   /* couleur WhatsApp */
  font-size: 40px;   /* taille de l’icône */
  margin: 35px 10px;    /* espacement horizontal */
  cursor: pointer;
}

.logo-wattpad {
  width: 50px;
  height: auto;
  transition: transform 0.2s;
  transition: transform 0.3s, color 0.3s;
  margin: 26px 8px;
  margin-top: 0 auto;
}

.logo-wattpad:hover {
  transform: scale(1.2);
}


.reactions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reactions button {
  background-color: lightgray;
  color: #333;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}

.reactions button:hover {
  background-color: lightgray;
}


.azert {
  border-radius: 25px;
  background: linear-gradient(to bottom, lightgray -0.15%, rgba(211, 211, 211, 0.1) 100%);
  padding: 20px 18px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.butom {
  margin-top: 10px;
  width: 90px auto;
  background: rgba(211, 211, 211, 0.5);
  border: none;
  padding: 12px 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.tem {
  color: white;
}

.arte {
  font-family: "Poppins", sans-serif;
  color: lightgray;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.artey {
  font-family: "Poppins", sans-serif;
  color: lightgray;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  padding: 18px 10px;
}

img {
      width: 200px;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 30px 0 30px 0;
    }