header {
  background: #62d1a6;
  width: 100%;
  border-radius: 25px;
}

body {
  background-image: url("coverx.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
}

h2 {
  color: #333;
  text-align: center;
  font-size: 25px;
  font-family: Times New Roman;
}

.indo {
  margin-bottom: 20px;
  font-family: Times New Roman;
  font-size: 20px;
  line-height: 1.3;
  padding: 30px 45px;
  margin-top: 0px;
  text-align: center;
  color: #333;
}

.good {
  color: #333;
  font-size: 25px;
  text-align: center;
  font-family: Times New Roman;
  padding: 10px 18px;
  margin-bottom: 30px;
  border: 50px;
  border-radius: 25px;
  background: #62d1a6;
  box-shadow: 2px 10px 15px rgba(1, 1, 1, 0.3);
}

.goody {
  color: #333;
  font-size: 26px;
  text-align: center;
  font-family: Times New Roman;
  padding: 10px 18px;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 50px;
  border-radius: 25px;
  background: #62d1a6;
}


/*** Citation ***/
.goodie {
  color: #333;
  font-size: 20px;
  text-align: center;
  padding: 20px 18px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.goodiex {
  color: #333;
  font-size: 22px;
  text-align: center;
  padding: 20px 18px;
  margin-top: -20px;
  margin-bottom: 30px;
}

button {
  background-color: #62d1a6;
  box-shadow: 2px 10px 15px rgba(1, 1, 1, 0.3);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 18px;
  text-align: center;
  margin: 10px auto;
  display: block;
  color: #333;
  margin-top: 29px;
  margin-bottom: 5px;
}

.foot {
  color: #333;
  text-align: center;
  background: #62d1a6;
  font-size: 1em;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 1.5px;
  border-radius: 12px;
}

.lire {
  margin-top: 0;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-bottom: 120px;
}

.lire button:hover {
  background-color: lightgray;
}

.art {
  color: #333;
  font-size: 30px;
  text-align: center;
  font-family: Times New Roman;
  padding: 10px 18px;
  margin-bottom: 30px;
}

small {
  color: white;
  display: block;
  text-align: center;
  font-size: 18px;
}

.apercu {
  background-color: #62d1a6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  color: #333;
}

.goodiet {
  color: black;
  text-align: center;
  font-size: 20px;
}

/*** Le bouton lire la suite ***/
.lirex {
  display: block;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  text-align: center;
}


/*** LE BOUTON PAS ENCORE DISPO ***/
.lirexe {
  display: block;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.7);;
  text-decoration: underline;
  text-align: center;
}

.goodietu {
  color: #333;
  text-align: justify;
  font-size: 18px;
  padding: 15px;
  margin: 0 auto;
  max-width: 300px;
  line-height: 1.6;
}

.lettrine {
  float: left;
  font-size: 3.5em;       /* la taille de la première lettre */
  line-height: 1;       /* ajustement vertical */
  margin-right: 12px;    /* espace entre la lettrine et le texte */
  color: #62d1a6;       /* couleur de la lettrine */
  font-weight: bold;
  font-family: Times New Roman;
}

/*** les icônes de réseaux sociaux ***/

.social-icons {
  display: flex;            /* active le mode flexbox */
  justify-content: center;  /* centre horizontalement tous les éléments */
  gap: 20px;                /* espace entre les icônes */
  margin-top: 8px;         /* espace par rapport aux autres éléments */
}

.social-icons i {
  font-size: 30px;
  color: #333;
  transition: transform 0.3s, color 0.3s;
}

.social-icons i:hover {
  color: #333;
  transform: scale(1.2);  /* petit effet au survol */
  background-color: lightgray;
}

i.fab {
  color: #62d1a6;   /* couleur WhatsApp */
  font-size: 32px;   /* taille de l’icône */
  margin: 35px 10px;    /* espacement horizontal */
  margin-bottom: -6px;
  cursor: pointer;
}

.fa-user {
  color: #62d1a6;
  font-size: 30px;
  display: block;
  justify-content: center;
  cursor: pointer;
  margin-top: 10;
  position: absolute;
  margin: -35px -80px;
  margin-left: 300px;
}

.fa-user:hover {
  transform: scale(1.1);  /* petit effet au survol */
  background-color: lightgray;
  box-shadow: 2px 10px 15px rgba(1, 1, 1, 0.3);
}

.fa-house {
  color: #62d1a6;
  font-size: 30px;
}

.fa-house:hover {
  transform: scale(1.1);  /* petit effet au survol */
  background-color: lightgray;
  box-shadow: 2px 10px 15px rgba(1, 1, 1, 0.3);
}




/*** MY WATTPAD LOGO ***/

.logo-wattpad {
  width: 35px;
  height: auto;
  transition: transform 0.2s;
  transition: transform 0.3s, color 0.3s;
  margin: 26px 8px;
  margin-top: 0 auto;
  box-shadow: none;
  background-color: #62d1a6;
}

.logo-wattpad:hover {
  transform: scale(1.2);
  background-color: lightgray;
}

/*** les boutons de réactions ***/

.reactions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reactions button {
  background-color: #62d1a6;
  color: #333;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}

.reactions button:hover {
  background-color: lightgray;
}


.azert {
  border-radius: 25px;
  background: #62d1a6;
  padding: 20px 18px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #333;
}

.butom {
  margin-top: 10px;
  width: 90px auto;
  background: #62d1a6; /** couleur du bouton j'ai payé **/
  border: none;
  padding: 18px 16px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  border-radius: 23px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 2px 10px 15px rgba(1, 1, 1, 0.3);
}

.butom:hover {
  background-color: lightgray;
}

.tem {
  color: #333;
  font-size: 24px;
}

.arte {
  font-family: "Times New Roman", sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.artey {
  font-family: "Times New Roman", sans-serif;
  color: #333;
  text-align: center;
  font-size: 20px;
  padding: 20px 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

img {
  width: 200px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 30px 0 30px 0;
}

.logo {
  width: 115px;
  max-width: 100%;
  display: block;
  box-shadow: none
  ;
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px;
}

.logo2 {
  width: 200px;
  max-width: 100%;
  display: block;
  box-shadow: none
  ;
  margin: 0 auto;
  border-radius: 12px 12px 12px 12px;
}


/***** l'image carrousel auto ****/
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

/* modifie la taille de l'image */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 325px;
}

/* Caption text */
.text {
  color: #333;
  font-size: 18px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #62d1a6;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}